django == 1.7.7
django-cms == 3.0.12
django-sekizai
html5lib
django-mptt
south
djangocms-admin-style
django-classy-tags
djangocms_text_ckeditor
djangocms_style
django-reversion
django-treebeard
djangocms-column
djangocms-file
djangocms-flash
djangocms-googlemap
djangocms-inherit
djangocms-link
djangocms-picture
djangocms-style
djangocms-teaser
djangocms-video
Pillow
pep8