<!doctype html>{% load i18n static cms_tags sekizai_tags %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    {% block title %}
      {% page_attribute page_title %} - {{ request.site.name }}
    {% endblock title %}
  </title>
  {% block meta_tags %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{% spaceless %}
      {% block meta_description %}
        {% page_attribute meta_description %}
      {% endblock %}
    {% endspaceless %}">
  {% endblock meta_tags %}
  <link rel="apple-touch-icon" href="{% static 'favicon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
  <!--[if IE]><link rel="shortcut icon" href="{% static 'favicon.ico' %}"><![endif]-->
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/libs/animate.css' %}">
  <link rel="stylesheet" href="{% static 'css/libs/lightbox.css' %}">
  <link rel="stylesheet" href="{% static 'css/libs/owl/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/libs/owl/owl.theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/libs/owl/owl.transitions.css' %}">
  <link rel="alternate stylesheet" media="screen" title="blue" href="{% static 'css/presets/blue.css' %}">
  <link rel="alternate stylesheet" media="screen" title="mblue" href="{% static 'css/presets/mblue.css' %}">
  <link rel="alternate stylesheet" media="screen" title="red" href="{% static 'css/presets/red.css' %}">
  {% render_block "css" %}
  <!--[if lt IE 9]>
  <script src="{% static 'js/libs/html5shiv.min.js' %}"></script>
  <script src="{% static 'js/libs/respond.min.js' %}"></script>
  <![endif]-->
  {% block extrahead %}{% endblock %}
  {{ ALDRYN_SNAKE.render_head }}
</head>
<body id="page-top" class="noscript lang-{{ LANGUAGE_CODE }} {% block body_class %}tpl-root{% endblock %}">
  {% include "includes/analytics.html" %}
  {% cms_toolbar %}

  {% block extend_root %}{% endblock %}

  <script src="{% static 'js/libs/jquery.min.js' %}"></script>
  <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/libs/class.min.js' %}"></script>
  <script src="{% static 'js/libs/outdatedBrowser.min.js' %}"></script>
  <script src="{% static 'js/addons/cl.utils.js' %}"></script>
  <script src="{% static 'js/libs/jquery.nav.js' %}"></script>
  <script src="{% static 'js/libs/owl.carousel.js' %}"></script>
  <script src="{% static 'js/libs/wow.js' %}"></script>
  <script src="{% static 'js/libs/jquery.mixitup.js' %}"></script>
  <script src="{% static 'js/libs/lightbox.min.js' %}"></script>
  <script src="{% static 'js/libs/scroll-top.js' %}"></script>
  <script src="{% static 'js/libs/smooth-scroll.js' %}"></script>
  <script src="{% static 'js/libs/style.changer.js' %}"></script>
  {% if debug %}
    <script src="{% static 'js/addons/cl.debug.min.js' %}"></script>
  {% endif %}
  <script src="{% static 'js/base.js' %}"></script>
  {% render_block "js" %}
  {% block extrafoot %}{% endblock %}
  {{ ALDRYN_SNAKE.render_tail }}
  <div class="browser-outdated" id="outdated" hidden="hidden">
    <noscript><h3>Please enable JavaScript</h3></noscript>
    <h3>Your browser is out-of-date!</h3>
    <p>Update your browser to view this website correctly.</p>
    <p>
      <a href="http://outdatedbrowser.com/" class="btn btn-lg btn-outline" id="btnUpdateBrowser">
        Update my browser now
      </a>
    </p>
    <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
  </div>
</body>
</html>
